<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project2.xirpl305091429.pintarfisikasmasmk">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_nav"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.topitideas.splashscreen.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Kelas10Activity" />
        <activity
            android:name=".DetailActivityKelas10"
            android:label="@string/title_activity_detail_activity_kelas10"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>